<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
</style>
body {
	max-width: 700px;
    margin: 0 auto;
    background-color: white;
    font-size: 15px;
    padding: 0;
}
.container{
	max-width: 700px;
    margin: 0 auto;
}
header {
	background: url(../img/marichkagiy_back.jpg) no-repeat center top / cover;
	padding-bottom: 150px;
	padding-top: 50px;
	background-position: right;
}
@media (max-width: 700px) {
	.header {
		background: url(../img/marichkagiy_back.jpg) no-repeat center top / cover;
	}
}
.topnav{
	max-width: 700px;
	margin: auto;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
	font-weight: 500;
    text-decoration: none;
}
.topnav a:hover {
    background-color: rgba(247, 14, 123, 0.7);
    border-radius: 30px;
    color: white;
    font-size: 17px;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 700px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.titles {
	max-width: 700px;
	margin: auto;
}
.titles_first{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	margin-top: 150px;
}
h1 {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	margin: 0;
}
.button {
	background: #f70e7b;
	width: 150px;
	display: block;
	border-radius: 30px;
	padding: 10px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
}
.title {
	padding-top: 10px;
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #f70e7b;
	margin: 0;
}
.title p {
	text-align: center;
	font-size: 16px;
	margin: 0;
}
.aboutMeGrid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 20px;
	margin-top: 0px;
}
.list {
	padding: 0px;
	margin-top: 0px;
}
.list li {
	
}
.photoMarichka{
	display: block;
	margin: auto;
}
@media (max-width: 700px) {
	.aboutMeGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		margin: 20px;
		margin-top: 0px;
	}
	.photoMarichka {
		grid-column: 1/2;
		grid-row: 1;
	}
	.list {
		
		grid-row: 1;
	}
}
@media (max-width: 400px) {

	.aboutMeGrid {
		display: block;
		margin: 20px auto;
		margin-left: 30px;
		margin-top: 0px;
	}
	.list {
		margin-left: 30px;
		margin-top: 0px;
	}
	.photoMarichka{
	display: block;
	margin: auto;
}
}
.programaGrid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin: 20px;
	margin-top: 0px;
}
@media (max-width: 700px) {
	.programaGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		margin: 20px;
		margin-top: 0px;
	}
}
@media (max-width: 400px) {
	.programaGrid {
		display: block;
		margin: 20px auto;
		margin-top: 0px;
	}
}
.prog {
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

.prog img {
	width: 150px;
}

#advices {
	background-color: #b4b6ba;
}
footer {
    background-color: black;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    color: #f70e7b;
}
footer p {
    text-align: center;
    font-size: 20px;
    color:  #f70e7b;
    margin: 10px;
    
}
.contact {
	width: 450px;
	height: 400px;
	background-color: #b4b6ba;
    margin: 0px auto 0 auto; 
    text-align: center;
}
input[type="text"], input[type="email"]{
	width: 200px;
	height: 20px;
	font-size: 18px;
	margin-bottom: 10px;
	border-radius: 4px;
	padding-left: 10px;
}
textarea{
	width: 200px;
	height: 100px;
	font-size: 18px;
	margin-bottom: 25px;
	border-radius: 4px;
	padding-left: 10px;
	
}
input[type="submit"], [type="reset"] {
    color: black;
    border-radius: 4px;
    font-size: 10px;
    padding: 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: #f70e7b;
    box-sizing: content-box;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.contactGrid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 20px;
	margin-top: 0px;
}
.findMe {
	padding: 0px;
	margin-top: 0px;
}
.findMe li {
	
}
#contact-form{
	display: block;
	margin: auto;
}
@media (max-width: 700px) {
	.contactGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		margin: 20px;
		margin-top: 0px;
	}
	#contact-form {
		grid-column: 1/2;
		grid-row: 1;
	}
	.findMe {
		
		grid-row: 1;
	}
}
@media (max-width: 400px) {

	.contactGrid {
		display: block;
		margin: 20px auto;
		margin-left: 30px;
		margin-top: 0px;
	}
	.findMe {
		margin-left: 30px;
		margin-top: 0px;
	}
	#contact-form{
	display: block;
	margin: auto;
}
}